@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Quicksand:wght@300;600&family=Sedgwick+Ave&display=swap');
@import "reset.css";
@import "screens/login.css";
@import "screens/menu_planner.css";
@import "components/nav.css";
@import "components/scrollbar.css";

:root {
    --theme-color: #BEBFBD;
    --theme-color_avocado: #DCE2D2;
    --theme-color_lightgreen: rgba(164, 196, 22, 0.7);
    --theme-color_lightwood: #D3A37D;
}


.logo span{
    font-family: "Sedgwick Ave", sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: white;
    -webkit-text-stroke: 0.5px #243820;
}
.logo span:hover{
    transition: ease-in-out;
    text-shadow:               
    0 1px 1px #c0c0c0,
    0 2px 0 #a8a7a6, 
    0 3px 0 #8b8a89, 
    0 4px 0 #7d7b7a,
    0 5px 0 #686766,
    0 6px 3px #5f5e5d;
}
body {
    background-color: var(--theme-color_avocado);
    font-family: "Quicksand", sans-serif;
}
header {
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index:1;
    margin-left: 80px;
    background-color: var(--theme-color_avocado);
}
section {
    margin-top: 130px;
    margin-left: 80px;
}
nav {
    width: 80px;
    float: left;
    position: fixed;
    height: 100%;
    top: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    /* z-index: -1; */
}