
.nav__list {
    height: 105%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.nav__link i {
    font-size: 40px;
    color: var(--theme-color);
}
.nav__here i {
    color: black;
}
.nav__here+div {
    background-color: rgb(81, 158, 81);
}
.nav__link i:hover {
    color: black;
    transform: translateX(15%);
    transition: 0.3s ease-in-out;
}

.nav__btn-description {
    position: absolute;
    left: 60px;
    background-color: rgb(170, 216, 102);
    padding: 5px 7px;
    border-radius: 10px;
    display: none;
}